<div class="product-container">
  <div class="sidebar">
    <h3>Products</h3>
    <ul>
      <li (click)="onCategorySelect('')">All Products</li>
      <li *ngFor="let category of categories$ | async" (click)="onCategorySelect(category)">
        {{ category }}
      </li>
    </ul>
  </div>
  <div class="product-list">
    <div class="products">
      <app-product-card *ngFor="let product of products$ | async" [product]="product"></app-product-card>
    </div>
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
</div>
